{% extends 'base.html.twig' %}

{% block title %}Register Car{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Register Car</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
                <div class="form-group">
                    {{ form_row(form.vin, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.year, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.image, {'attr': {'class': 'form-control-file'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.register, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}